<section id="sessionBody">

<h2>Example sentence to translate</h2>

{{#if findSession}}
  {{#each findSession.chat}}
    <p>{{this}}</p>
  {{/each}}
{{/if}}

<form action="/session/{{otherUserId}}/start-session" method="post">

  <textarea name="sentence" id="sentence" cols="80" rows="15">

  </textarea>

  <button type="Submit">Submit Answer!</button>
</form>

<form action="/session/{{findSession._id}}/start-session/delete" method="post">
<button type="Submit">Leave Session</button>
</form>
</section>