<h2>Example sentence to translate</h2>


<form action="/session/{{_id}}/run-session" method="post">

  <textarea name="sentence" id="sentence" cols="80" rows="15">
    {{description}}
  </textarea>

  <button type="Edit">Submit Answer!</button>
</form>





