<body id="landingPage">


<nav id="signUp">
<a href="/auth/signup">Sign-up</a>
<a href="/auth/login">Login  </a>
</nav>

<div id="landingHeaderDiv">
<h1 class="landingHeader">Learn to speak like a native!</h1>
<h1 class="landingHeader">Aprende a falar como um nativo!</h1>
<h1 class="landingHeader">Bir yerli gibi konuşmayı öğrenin!</h1>
<h1 class="landingHeader">Lern zu sprechen wie ein Muttersprachler!</h1>
</div>

<footer>
<p> Developed by Assebe & Vanessa Vieira </p>
</footer>
</body>