<body id="landingPage">
<section1>
<div id="landingHeaderDiv">
<h1 class="landingHeader">Learn to speak like a native!</h1>
<h1 class="landingHeader">Aprende a falar como um nativo!</h1>
<h1 class="landingHeader">Bir yerli gibi konuşmayı öğrenin!</h1>
<h1 class="landingHeader">Lern zu sprechen wie ein Muttersprachler!</h1>
</div>

<image class="paper-image" src="/images/papel.png" style="margin-left: 55%;">
</section1>
<footer>
<p style="margin-right: 40px;"> Developed by Assebe Kleinert & Vanessa Vieira </p>
</footer>
</body>