* {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: light;
  font-weight: medium;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

body {
  background-image: url("/images/pexels-francesco-ungaro-281260.jpg");
  background-size: 100%;
  color: white;
}

#signUp {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  color: #383838;
  margin-top: 30px;
  margin: bottom 40px;
}

#landingPage {
  background-image: url("/images/pexels-porapak-apichodilok-346885.jpg");
  background-size: 100%;
}

.landingHeader {
  font-size: 35px;
  font-weight: lighter;
  line-height: 5px;
  margin: 30px;
  color: rgb(226, 34, 34);
}

#landingHeaderDiv {
  display: flex;
  flex-direction: column;
  line-height: 2px;
}

#languageMenu {
  color: white;
}

#login-form {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 10px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#signup-form {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 10px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.card {
  width: 190px;
  height: 254px;
  padding: 0.8em;
  background: lightgray;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.card-img {
  background-color: white;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid grey;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

#languageNav {
  margin-top: 60px;
  line-height: 50px;
  justify-content: space-around;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  color: white;
  padding: 40px;
}
h4 {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  color: rgb(43, 43, 43);
  font-weight: normal;
}

#dashboardLanguages {
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 400px;
  height: 20%;
  margin-top: 300px;
  margin-left: 35%;
  border-radius: 12px;
  padding: 40px;
}

a {
  color: rgb(43, 43, 43);
  font-weight: normal;
}
.navbar-nav {
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
  font-size: 20px;
  display: flex;
  background-color: whitesmoke;
  height: 60px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: green;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; /* Height of the footer */
}

.logoutButton {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: normal;
  padding-left: 120px;
  width: 190px;
  margin-top: 22px;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 3px;
  border: none;
}

.logoutButton:hover {
  cursor: pointer;
}

#userCards {
  margin: 50px;
}

#progressSection {
  text-align: center;
  margin: 100px;
}

#profileSection {
  text-align: center;
  margin: 100px;
}

#sessionBody{
  text-align: center;
  margin-top: 60px;
}

#editSection{
  display: block;
}