<section id="userCards">
{{#each users}}
  <div class="card">
  <a href="/session/{{_id}}/start-session"><div class="card-img"></div></a>
  <div class="card-info">
    <p class="text-title">{{username}}</p>
    <p class="text-body">Learning {{language}}</p>
  </div>
  <div class="card-footer">
  <span class="text-title">{{nativeLanguage}}</span>
  </div>
</div>
{{/each}}

</div>

</section>

