<h1 style="margin: 40px;">These are the native speakers we have found for you: </h1>
<section id="userCards">
{{#each users}}
  <div class="card">
  <a href="/session/{{_id}}/start-session"><div class="card-img" style="text-align: center;">Click to start practicing!</div></a>
  <div class="card-info">
    <p class="text-title" style="text-align: center;">{{username}}</p>


<form action="/users/{{_id}}/add-friends" method="post">
<button type="submit" id="addFriendButton">Add as friend</button>
</form>
 


  </div>
  <div class="card-footer">
  <span class="text-title"> {{nativeLanguage}} Speaker</span>
  </div>
</div>
{{/each}}

</div>

</section>

