
 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="friends">Friends</a>
        <a class="nav-link" href="progress">Progress</a>
        <a class="nav-link" href="profile">Profile</a>

        <form action="/logout" method="post">
        <button type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </div>
</nav>