
<h2>Edit Profile</h2>

<form action="/users/edit-profile/{{user._id}}" method="post" enctype="multipart/form-data">

  <label for="email">New Email: </label>
  <input type="email" name="email" id="email" value="{{user.email}}" />

  <label for="username">New Username: </label>
  <input type="text" name="username" id="username" value="{{user.username}}" />

  </textarea>
  <div class="mb-3">
    <input type="file" name="image" value="image" class="form-control" aria-label="file example" required>
  </div>

  <button type="submit">Edit</button>
</form>