 <section id="userCards">
    {{#each friend.friends}}

    <div class="card" style="justify-content: center; text-align:center">
      <a href="/session/{{_id}}/start-session">
      <img class="UserImage" src="{{image}}" alt="profile">
      <div class="card-info">
        <p class="text-title" style="text-align: center;">{{username}}</p>
      </div>
      <div class="card-footer">
        <span class="text-title">{{nativeLanguage}} Speaker</span>

      </div>
    </div>

{{/each}}
  </section>
